@media screen and (max-width: 575px) {
    .container {
      width: 100vw;
      height: 100vh;
    }
    .table{
        width: 350px;
        height: 350px;

        /* flex-wrap:nowrap ; */
    }

    .table__box{
        width: 100px;
        height: 100px;
        font-size: 5rem;
    }

    .controls__label {
        width: 50px;
        padding: 1rem;
        font-size: 1rem;
    }

    .modal__player-win{
        text-align: center;
    }
}